<div class="container">
    <br/>
	<div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search"></i>
                    </div>
                    <!--end of col-->

                    <div class="col">
                    <%= form_tag url_for(action: 'create'), method: "post" do %>
                        <%= text_field_tag(:search, "", class: 'form-control form-control-lg form-control-borderless', placeholder: 'Search something') %>
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <%= submit_tag "Search", class: 'btn btn-lg btn-success' %>
                    </div>
                    <% end %>
                    <!--end of col-->
                </div>
            </div>
        </div>
        <!--end of col-->
    </div>
</div>

<div class="container pt-5 mb-4">
  <div class="row pt-4 pb-4">
  <h3>Recherche des dirigeants de <%= @company_name %></h3>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Job Title</th>
          <th scope="col">LinkedIn</th>
          <th scope="col">Save</th>
        </tr>
      </thead>
      <tbody>
        <% 5.times do |i| %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td><%= @h[:name][i] %></td>
          <td><%= @h[:job][i] %></td>
          <td><a href="<%= @h[:url][i] %>"><i class="fab fa-linkedin-in"></i></a></td>
          <td><a href=""><i class="far fa-save"></i></a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>